In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('fertility_Diagnosis.txt')
df.head()

,Season,Age,ChildDesease,AccidentTrauma,Surgery,Fevers,Alcohol,Smoking,HoursSitting,Diagnosis
0,-0.33,0.69,0,1,1,0,0.8,0,0.88,N
1,-0.33,0.94,1,0,1,0,0.8,1,0.31,O
2,-0.33,0.50,1,0,0,0,1.0,-1,0.50,N
3,-0.33,0.75,0,1,1,0,1.0,-1,0.38,N
4,-0.33,0.67,1,1,0,0,0.8,-1,0.50,O

In [4]:
df['Diagnosis'].describe()

count     100
unique      2
top         N
freq       88
Name: Diagnosis, dtype: object

In [ ]:
# Season
def season_trans(num):
    seasons = {-1:'Winter',
              -0.33:'Spring',
              0.33:'Summer',
              1:'Autumn'}
    return seasons[num]

df['Season'] = df['Season'].map(season_trans)

In [ ]:
(df['Age']*18+18).describe()

In [ ]:
# Age
def age_trans(num):
    if num < 1/2 + 1/6:
        return 'from 27 to 30'
    elif num < 1/2 + 2/6:
        return 'from 30 to 33'
    else:
        return 'from 33 to 36'

df['Age'] = df['Age'].map(age_trans)

In [ ]:
# YES/NO variables
binaryCols = ['ChildDesease','AccidentTrauma','Surgery']

for col in binaryCols:
    df[col] = df[col].map(lambda x: 'Yes' if x==1 else 'No')

In [ ]:
# Fevers
def fevers_trans(num):
    fevers = {-1:'Less than 3 months',
              0:'More than 3 months',
              1:'No / More than 1 year'}
    return fevers[num]

df['Fevers'] = df['Fevers'].map(fevers_trans)

In [ ]:
# Alcohol
def alcohol_trans(num):
    alcohol = {0.2:'Several times a day',
              0.4:'Every day',
              0.6:'Several times a week',
              0.8:'Once a week',
              1:'Hardly ever or never'}
    return alcohol[num]

df['Alcohol'] = df['Alcohol'].map(alcohol_trans)

In [ ]:
# Smoking
def smoking_trans(num):
    smoking = {-1:'Never',
              0:'Ocassional',
              1:'Daily'}
    return smoking[num]

df['Smoking'] = df['Smoking'].map(smoking_trans)

In [ ]:
df['HoursSitting'].describe()

In [ ]:
# Hours sit
def sit_trans(num):
    if num < 5/24:
        return 'from 0h to 4h'
    elif num < 10/24:
        return 'from 5h to 9h'
    elif num < 15/24:
        return 'from 10h to 14h'
    else:
        return 'more than 15h'

df['HoursSitting'] = df['HoursSitting'].map(sit_trans)

In [ ]:
# Diagnosis
def diag_trans(num):
    diag = {'N':'Normal',
            'O':'Altered'}
    return diag[num]

df['Diagnosis'] = df['Diagnosis'].map(diag_trans)

In [ ]:
df.head()

In [ ]:
df.to_csv('fertility.csv', index=False)